<section class="flex justify-center">
    <div class="border-4 border-light-blue-500 border-opacity-75 m-6 w-96">
        <form action="" (ngSubmit)="saveBook()" #myForm="ngForm" class="form bg-white p-6 my-10 relative">
            <h3 class="text-2xl text-gray-900 font-semibold">Add Book</h3>
            <div class="flex space-x-5 mt-3">
                <input type="text" name="id" [(ngModel)]="addBookForm.id" #id="ngModel" id="" placeholder="Id" class="border p-2  w-1/3">
                <p [hidden]="id.valid || id.pristine">id is required</p>
                <input type="text" name="title" [(ngModel)]="addBookForm.title" #title="ngModel" id="" placeholder="Title" class="border p-2 w-2/3">
                <p [hidden]="title.valid || title.pristine">title is required</p>
            </div>
            <textarea name="description" [(ngModel)]="addBookForm.description" #description="ngModel" id="" cols="10" rows="3" placeholder="Description" class="border p-2 mt-3 w-full"></textarea>
            <p [hidden]="description.valid || description.pristine">description is required</p>
            <div class="flex space-x-5 mt-3">
                <input type="text" name="pageCount" [(ngModel)]="addBookForm.pageCount" #pageCount="ngModel" id="" placeholder="#Pages" class="border p-2  w-1/2">
                <p [hidden]="pageCount.valid || pageCount.pristine">pageCount is required</p>
                <input type="text" name="publishDate" [(ngModel)]="addBookForm.publishDate" #publishDate="ngModel" id="" placeholder="Year" class="border p-2 w-1/2">
                <p [hidden]="publishDate.valid || publishDate.pristine">publishDate is required</p>
            </div>
            <input type="submit" value="Submit" [disabled]="myForm.form.invalid" class="w-full mt-6 bg-blue-600 hover:bg-blue-500 text-white font-semibold p-3">
        </form>
    </div>
</section>
